# Raw data
data/raw/

# Processed data: ignore all by default
data/processed/*

# Keep final modelling datasets
!data/processed/gulf_stream_q3_*.parquet

# macOS
.DS_Store
**/.DS_Store

# Jupyter
.ipynb_checkpoints/
**/.ipynb_checkpoints/

# Python
__pycache__/
*.pyc
